/*
Importing mixin and variabes for scss
 */
@import "mixin";
@import "variables";


/*
Stylyzing Don't miss view on frontpage
 */


/*
Stylyzing block on top in Don't miss view on frontpage
 */
.block-views-blockdont-miss-block-1 {
  h2 {
    margin-block: auto;
    background-color: #f9c100;
    max-width: 32%;
    padding-left: 2%;
    padding-right: 2%;


  }

  .layout--twocol-section {
    flex-wrap: wrap;

  }

  .block-views-blockdont-miss-view-mode1--block-1 {
    border-top: 2px solid #f9c100;
    margin-top: -10px;

    .block-field-blocknodearticleuid {
      display: flex;
      justify-content: start;
      a{
        font-size: $f11;
        font-weight: bold;
        color: black;
      }
    }

    .content {
      margin-top: 0;

      .block-field-blocknodearticlecreated {
        display: flex;
        justify-content: start;

        span {
          font-size: $f11;
        }
      }
    }


    .block-field-blocknodearticletitle {
      a {
        color: #f9c100;
        text-transform: uppercase;
        font-size: 21px;
      }
    }
  }
  .block-field-blocknodearticlebody{
    color: $ltcol;
    font-size: $f16;
  }
}



/*
Stylyzing block on bottom in Don't miss view on frontpage
 */
.block-views-blockdont-miss-view-mode2--block-1 {
  display: flex;

  .block-field-blocknodearticlefield-media-for-content {
    display: flex;
    justify-content: center;
  }

  .block-field-blocknodearticletitle {
    .content {
      @include reset;
    }

  }

  .block-field-blocknodearticlecreated {

    .content {

      @include reset;

    }

  }
  a{
    display: flex;
    justify-content: center;
  }
  a, .link {
    color: black;
    font-size: $f14;

  }

  span {
    font-size: $f11;
    color: #767676;
    display: flex;
    justify-content: center;
  }
}

/*
Stylyzing Lifestyle News view on frontpage
 */
.block-views-blocklifestyle-news-block-1 {
  margin-top: 20%;

  h2 {
    margin-block: auto;
    background-color: #3a863d;
    max-width: 34%;
    padding-left: 2%;
    padding-right: 2%;
    color: $white;
    font-size: $f14;
    height: 40%;
  }

  /*
  Stylyzing  big block in Lifestile news
   */
  .node--view-mode-big-picture-down-tex {
    .block-field-blocknodearticletitle {
      .field--name-title {

        a {
          color: #3a863d;
          text-transform: uppercase;
          font-size: 21px;
        }
      }

    }

    .block-field-blocknodearticleuid {

      display: flex;
      justify-content: start;

      a {
        font-size: $f11;
        font-weight: bold;
        color: black;
      }

      .content {
        @include reset
      }

    }

    .block-field-blocknodearticlecreated {
      .content {
        display: flex;
        justify-content: start;

        span {
          color: $dd;
          font-size: $f11;
        }

        @include reset;
      }

    }

    .block-field-blocknodearticlebody {
      color: $dd;
      font-size: $f16;
    }
  }

  /*
  Create border for Lifestyle news
   */

  /*
  Theming  small article block in Lifestyle news
   */
  .block-views-blocklifestyle-news-bottom--block-1 {
    .content{
      @include reset;
    }
    span {
      color: $dd;
      font-size: $f11;

      a {
        @include lit_titlename;
      }

    }


  }
}

/*
 Stylyzing House design view of fontpage
*/

.block-views-blockhouse-design-block-1 {
  h2 {
    background-color: #5d7987;
    color: $title-view-color;
    font-size: $f14;
    padding-left: 2%;
    padding-right: 2%;
    max-width: 30%;
  }

  /*
  Add border
   */
  .view-id-house_design {
    border-top: 2px solid #5d7987;
    margin-top: -10px;
  }

  .block-field-blocknodearticlefield-media-for-content {
    float: left;
    width: 40%;

    img {
      width: 110px;
      height: 80px;
    }
  }

  .block-field-blocknodearticletitle {
    .content
    {padding-top:20px}

    a {
      @include lit_titlename;
      @include overflow-text;
    }
  }

  .block-field-blocknodearticlecreated {
    .content {
      margin-top: 0;
    }

    span {
      @include date;
    }
  }
}

